libRadtran
libRadtran/
tt
tt/
trace_test/venv
radiances/job*
radiances/*.txt
radiances/*.dat
radiances/test*
radiances/test
radiances/backups
radiances/backups/
radiances/*.nc
radiances/rad_testcases
radiances/rad_testcases/
radiances/**
rayli
rayli/
*.nc
*.txt
*.dat
*.png
*.jpg
*.pdf
*.inp
*.h5
*.out
*.job
*.spc
*.pyc
*.swp
randomseed
DEADJOE
#####
!afglus.dat
!afglus_checkerboard.dat
!wc3d_checkerboard_full.dat
!wc3D.dat
!wc3d.dat
!radiances/clouds
!radiances/stdatm
